* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive; }

/* NAVBAR INICIAL*/
.img-principal {
  text-align: center; }
  .img-principal img {
    height: 100%;
    width: 100%;
    max-width: 50%; }

.navbar {
  background-color: #217C91;
  text-decoration: none;
  font-size: 15px; }
  .navbar li {
    transition: all .5s; }
    .navbar li:hover {
      background-color: #2c9bb4; }

.navbar-brand img {
  width: auto; }

#navbar1 {
  color: white; }
  #navbar1 .nav-link {
    color: white;
    margin: 10px; }

/*h2 de todas los html */
.tituloPagina {
  padding: 10px;
  margin: 10px; }

/* cajas principales*/
.cuadrados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #dadada;
  height: 100%; }
  .cuadrados a {
    text-decoration: none; }
  .cuadrados .boxes {
    width: 300px;
    height: 500px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out; }
    .cuadrados .boxes:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateX(1%) translateY(1%); }
    .cuadrados .boxes img {
      width: 100%;
      height: 210px; }
    .cuadrados .boxes h5 {
      padding: 10px;
      text-decoration: none;
      color: red; }
    .cuadrados .boxes p {
      padding: 10px;
      text-align: center;
      font-size: 1rem;
      text-align: center;
      color: black; }

/*pochocleras*/
.content .contact-wrapper {
  /* CONTACTO FORM */
  color: #fff;
  /* CONTACTO INFO */ }
  .content .contact-wrapper .contact-form {
    background: #757575; }
  .content .contact-wrapper .contact-info img {
    min-width: 400px;
    object-fit: cover;
    object-position: center;
    overflow: hidden; }

.contact-form form .block {
  grid-column: 1 / 3; }

/*SEGUNDA SECTION PRODUCTOS*/
.segsection_productos {
  width: 100%;
  margin-top: 60px; }
  .segsection_productos .caract_tecnicas h3 {
    text-align: center;
    font-size: 2rem; }
  .segsection_productos .grupo2 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px; }
    .segsection_productos .grupo2 .box1 p {
      margin-bottom: 10px;
      text-decoration: none; }

/*TERCERA SECTION PRODUCTOS*/
.tersection_productos {
  padding-top: 20px;
  width: 100%; }
  .tersection_productos .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40px; }
  .tersection_productos h4 {
    text-align: center;
    font-size: 2rem; }
  .tersection_productos .galeria_gen {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: center; }
    .tersection_productos .galeria_gen img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 1rem;
      border-style: hidden;
      border-width: 1px; }

/* FOOTER GENERAL*/
.footer {
  width: 100%;
  background-color: #217C91;
  margin-top: 60px; }
  .footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .footer .grupo1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .grupo1 .box figure h1 {
        font-size: 3rem;
        text-decoration: none;
        color: white; }
    .footer .grupo1 .box h2 {
      color: white;
      margin-bottom: 25px;
      font-size: 1.5rem; }
    .footer .grupo1 .box p {
      color: #e6dbdb;
      margin-bottom: 10px;
      text-decoration: none; }
    .footer .grupo1 .box a {
      text-decoration: none; }
      .footer .grupo1 .box a p:hover {
        color: #6e6e6e; }
    .footer .grupo1 .red-social a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: white;
      margin-right: 10px;
      text-align: center; }
  .footer .derechos {
    background-color: #289bb4;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px; }

@media (max-width: 767px) {
  .content {
    width: 100%;
    margin: 0; }
    .content .contact-wrapper {
      /* CONTACTO FORM */
      color: #fff; }
      .content .contact-wrapper .contact-form {
        text-align: center;
        background-color: #757575; }
        .content .contact-wrapper .contact-form .textospro h3 {
          padding: 20px;
          font-size: 2.5rem; }
        .content .contact-wrapper .contact-form .textospro p {
          padding: 20px;
          font-size: 1.1rem; }
      .content .contact-wrapper .contact-info img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden; }
  /*segunda section*/
  .segsection_productos .grupo2 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; }
  /*FOOTER*/
  .footer .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (min-width: 767px) and (max-width: 1079px) {
  .content .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    object-position: center;
    color: #fff; }
    .content .contact-wrapper .contact-form {
      text-align: center;
      background-color: #757575; }
      .content .contact-wrapper .contact-form .textospro {
        margin-top: 10%; }
        .content .contact-wrapper .contact-form .textospro h3 {
          padding: 20px;
          font-size: 2.5rem; }
        .content .contact-wrapper .contact-form .textospro p {
          padding: 20px;
          font-size: 1.1rem; }
    .content .contact-wrapper .contact-info img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden; } }

@media (min-width: 1080px) and (max-width: 1439px) {
  /*CONTACTO*/
  .content {
    width: 100%; }
    .content .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      object-position: center;
      /* CONTACTO FORM */
      color: #fff;
      /* CONTACTO INFO */ }
      .content .contact-wrapper .contact-form {
        text-align: center;
        background: #757575; }
        .content .contact-wrapper .contact-form .textospro {
          margin-top: 10%; }
          .content .contact-wrapper .contact-form .textospro h3 {
            padding: 20px;
            font-size: 3.5rem; }
          .content .contact-wrapper .contact-form .textospro p {
            padding: 20px;
            font-size: 1.2rem; }
      .content .contact-wrapper .contact-info img {
        width: 100%;
        height: 600px;
        object-position: center; } }

@media (min-width: 1440px) {
  /*CONTACTO*/
  .content {
    width: 100%; }
    .content .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      object-position: center;
      /* CONTACTO FORM */
      color: #fff;
      /* CONTACTO INFO */ }
      .content .contact-wrapper .contact-form {
        text-align: center;
        background: #757575; }
        .content .contact-wrapper .contact-form .textospro {
          margin-top: 10%; }
          .content .contact-wrapper .contact-form .textospro h3 {
            padding: 20px;
            font-size: 4rem; }
          .content .contact-wrapper .contact-form .textospro p {
            padding: 60px;
            font-size: 1.5rem; }
      .content .contact-wrapper .contact-info img {
        width: 100%;
        height: 700px;
        object-position: center; } }
